{% extends 'base.html' %}


{% block content %}
<div class="select-level">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="#">Graduate</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../plan">My Plan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../mepolicy">Policy</a>
        </li>

    </ul>
</div>


<div class="timeC"><img src="../static/image/morning.svg" style="height: 22px; width: 22px">Morning
    <small class="time_text" > 8am-12pm</small>
</div>
<div class="row">
    <div class="col">
        <div class="card-deck">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://eecs.oregonstate.edu/sites/eecs.oregonstate.edu/files/facultystaff/de-amicis-210x210.jpg"
                             class="card-img" alt="Raffaele De Amicis">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body2">
                            <h6 class="card-title">CS519 | VIRTUAL & AUGMENTED REALITY
                            </h6>
                            <h7 class="card-text"><b>Raffaele De Amicis</b>&nbsp&nbsp ? / 5</h7>
                            <div>
                                Oops! Doesn't have any featured ratings and tag.
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <p class="card-text">
                            Topics of special and current interest not covered in other courses. May not be offered
                            every year.
                        </p>
                    </div>
                    <div class="content-bottom">
                            <small class="text-muted">MF 9am-9:50am &nbsp&nbsp Seat 20</small>
                            <small class="text-muted right">CRN 59136</small>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://eecs.oregonstate.edu/sites/eecs.oregonstate.edu/files/facultystaff/borradaile-glencora-210x210.jpg"
                             class="card-img" alt="Glencora Borradaile">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body2">
                            <h6 class="card-title">CS523 | ADVANCED ALGORITHMS</h6>
                            <h7 class="card-text"><b>Glencora Borradaile</b>&nbsp&nbsp ? / 5</h7>
                            <div>
                                Oops! Doesn't have any featured ratings and tag.
                            </div>
                        </div>

                    </div>
                    <div class="card-content">
                        <p class="card-text">
                            Approximation algorithms, randomized and probabilistic algorithms, online algorithms.
                        </p>
                    </div>
                    <div class="content-bottom">
                        <p class="card-text">
                            <small class="text-muted">WF 10am-11:50am &nbsp&nbsp Seat 20</small>
                            <small class="text-muted right">CRN 59120</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card-deck">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://eecs.oregonstate.edu/sites/eecs.oregonstate.edu/files/facultystaff/fern-alan-210x210.jpg"
                             class="card-img" alt="Alan Fern">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body2">
                            <h6 class="card-title">CS533 | INTELLIGENT AGENTS AND DECISION MAKING
                            </h6>
                            <h7 class="card-text"><b>Alan Fern</b>&nbsp&nbsp 3.1 / 5</h7>
                            <div>
                                <span class="badge badge-success">GROUP PROJECTS</span>
                                <span class="badge badge-success">CLEAR GRADING CRITERIA</span>
                                <span class="badge badge-success">RESPECTED</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <p class="card-text">
                            Representations of agents, execution architectures. Planning: non-linear planning,
                            graphplan, SATplan. Scheduling and resource management. Probabilistic agents. Dynamic belief
                            networks. Dynamic programming (value iteration and policy iteration). Reinforcement
                            learning: Prioritized sweeping...
                        </p>
                    </div>
                    <div class="content-bottom">
                        <p class="card-text">
                            <small class="text-muted">MW 10am-11:50am &nbsp&nbsp Seat 55</small>
                            <small class="text-muted right">CRN 54842</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://eecs.oregonstate.edu/sites/eecs.oregonstate.edu/files/facultystaff/todorovic-sinisa-210x210.jpg"
                             class="card-img" alt="Sinisa Todorovic">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body2">
                            <h6 class="card-title">CS537 | COMPUTER VISION I</h6>
                            <h7 class="card-text"><b>Sinisa Todorovic</b>&nbsp&nbsp 3.7 / 5</h7>
                            <div>
                                <span class="badge badge-success">EXTRA CREDIT</span>
                                <span class="badge badge-success">SKIP CLASS? YOU WON'T PASS.</span>
                                <span class="badge badge-success">GIVES GOOD FEEDBACK</span>
                            </div>
                        </div>

                    </div>
                    <div class="card-content">
                        <p class="card-text">
                            An introduction to low-level computer vision and visual geometry. Topics of interest include
                            the following: detection of interest points and edges, matching points and edges, color
                            models, projective geometry, camera calibration, epipolar geometry, homography, image
                            stitching, and multitarget tracking.
                        </p>
                    </div>
                    <div class="content-bottom">
                        <p class="card-text">
                            <small class="text-muted">TTh 10am-11:20am &nbsp&nbsp Seat 30</small>
                            <small class="text-muted right">CRN 59940</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card-deck">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://eecs.oregonstate.edu/sites/eecs.oregonstate.edu/files/facultystaff/kim-jinsub-210x210.jpg"
                             class="card-img" alt="Jinsub Kim">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body2">
                            <h6 class="card-title">CS539 | NONLINEAR OPTIMIZATION
                            </h6>
                            <h7 class="card-text"><b>Jinsub Kim</b>&nbsp&nbsp 3.6 / 5</h7>
                            <div>
                                <span class="badge badge-success">TOUGH GRADER</span>
                                <span class="badge badge-success">GET READY TO READ</span>
                                <span class="badge badge-success">RESPECTED</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <p class="card-text">
                            Advanced topics in artificial intelligence. Typical topics include machine learning for
                            sequential and spatial data, knowledge representation and inference, probabilistic modeling
                            of complex systems, data mining and information extraction.
                        </p>
                    </div>
                    <div class="content-bottom">
                        <p class="card-text">
                            <small class="text-muted">MW 12pm-1:50pm &nbsp&nbsp Seat 15</small>
                            <small class="text-muted right">CRN 59128</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://eecs.oregonstate.edu/sites/eecs.oregonstate.edu/files/facultystaff/jang-yeongjin-210x210.jpg"
                             class="card-img" alt="Yeong Jin Jang">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body2">
                            <h6 class="card-title">CS544 | OPERATING SYSTEMS II
                            </h6>
                            <h7 class="card-text"><b>Yeong Jin Jang</b>&nbsp&nbsp ? / 5</h7>
                            <div>
                                Oops! Doesn't have any featured ratings and tag.
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <p class="card-text">
                            Principles of computer operating systems: concurrent processes, memory management, job
                            scheduling, multiprocessing, file systems, performance evaluation, and networking. Lec/rec.
                        </p>
                    </div>
                    <div class="content-bottom">
                        <p class="card-text">
                            <small class="text-muted">TTh 8:30am-9:50am &nbsp&nbsp Seat 25</small>
                            <small class="text-muted right">CRN 54817</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card-deck">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://eecs.oregonstate.edu/sites/eecs.oregonstate.edu/files/facultystaff/kahng-minsuk-210x210.jpg"
                             class="card-img" alt="Minsuk Kahng">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body2">
                            <h6 class="card-title">CS565 | HUMAN-COMPUTER INTERACTION
                            </h6>
                            <h7 class="card-text"><b>Minsuk Kahng</b>&nbsp&nbsp ? / 5</h7>
                            <div>
                                Oops! Doesn't have any featured ratings and tag.
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <p class="card-text">
                            Basic principles of Human-Computer Interaction (HCI) for the design and evaluation of
                            software systems. Includes research methods for studying human-machine interactions and user
                            interfaces, design strategies, software evaluation methods, and related guidelines and
                            standards.
                        </p>
                    </div>
                    <div class="content-bottom">
                        <p class="card-text">
                            <small class="text-muted">MW 12pm-1:50pm &nbsp&nbsp Seat 30</small>
                            <small class="text-muted right">CRN 56645</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://eecs.oregonstate.edu/sites/eecs.oregonstate.edu/files/facultystaff/chen-lizhong-210x210.jpg"
                             class="card-img" alt="Lizhong Chen">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body2">
                            <h6 class="card-title">CS570 | HIGH PERFORMANCE COMPUTER ARCHITECTURE</h6>
                            <h7 class="card-text"><b>Lizhong Chen</b>&nbsp&nbsp 4.6 / 5</h7>
                            <div>
                                <span class="badge badge-success">RESPECTED</span>
                                <span class="badge badge-success">EXTRA CREDIT</span>
                                <span class="badge badge-success">AMAZING LECTURES</span>
                            </div>
                        </div>

                    </div>
                    <div class="card-content">
                        <p class="card-text">
                            Advanced concepts in computer architecture. Performance improvement employing advanced
                            pipelining and multiple instruction scheduling techniques. Issues in memory hierarchy and
                            management. CROSSLISTED as ECE 570.
                        </p>
                    </div>
                    <div class="content-bottom">
                        <p class="card-text">
                            <small class="text-muted">MW 10am-11:50am &nbsp&nbsp Seat 18</small>
                            <small class="text-muted right">CRN 58041</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card-deck">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://eecs.oregonstate.edu/sites/eecs.oregonstate.edu/files/facultystaff/chen-lizhong-210x210.jpg"
                             class="card-img" alt="Lizhong Chen">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body2">
                            <h6 class="card-title">CS572 | COMPUTER ARCHITECTURE</h6>
                            <h7 class="card-text"><b>Lizhong Chen</b>&nbsp&nbsp 4.6 / 5</h7>
                            <div>
                                <span class="badge badge-success">RESPECTED</span>
                                <span class="badge badge-success">EXTRA CREDIT</span>
                                <span class="badge badge-success">AMAZING LECTURES</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <p class="card-text">
                            Computer architecture using processors, memories, and I/O devices as building blocks. Issues
                            involved in the design of instruction set architecture, processor, pipelining and memory
                            organization. Design philosophies and trade-offs involved in Reduced Instruction Set
                            Computer (RISC) architectures...
                        </p>
                    </div>
                    <div class="content-bottom">
                        <p class="card-text">
                            <small class="text-muted">MW 8am-9:50am &nbsp&nbsp Seat 50</small>
                            <small class="text-muted right">CRN 53492</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://eecs.oregonstate.edu/sites/eecs.oregonstate.edu/files/facultystaff/walkingshaw-eric-210x210.jpg"
                             class="card-img" alt="Eric Walkingshaw">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body2">
                            <h6 class="card-title">CS583 | ADVANCED FUNCTIONAL PROGRAMMING
                            </h6>
                            <h7 class="card-text"><b>Eric Walkingshaw</b>&nbsp&nbsp 4.1 / 5</h7>
                            <div>
                                <span class="badge badge-success">AMAZING LECTURES</span>
                                <span class="badge badge-success">CARING</span>
                                <span class="badge badge-success">GIVES GOOD FEEDBACK</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <p class="card-text">
                            Advanced functional programming concepts and strategies, with a focus on techniques useful
                            for the design and implementation of programming languages. Includes higher-order abstract
                            syntax, functors and monads, generalized algebraic data types, functional data structures,
                            and graph reduction.
                        </p>
                    </div>
                    <div class="content-bottom">
                        <p class="card-text">
                            <small class="text-muted">TTh 10am-11:50am &nbsp&nbsp Seat 20</small>
                            <small class="text-muted right">CRN 57795</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card-deck">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://eecs.oregonstate.edu/sites/eecs.oregonstate.edu/files/facultystaff/erwig-martin-210x210.jpg"
                             class="card-img" alt="Martin Erwig">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body2">
                            <h6 class="card-title">CS585 | DOMAIN-SPECIFIC LANGUAGES</h6>
                            <h7 class="card-text"><b>Martin Erwig</b>&nbsp&nbsp 2.67 / 5</h7>
                            <div>
                                <span class="badge badge-danger">SKIP CLASS? YOU WON'T PASS.</span>
                                <span class="badge badge-danger">TOUGH GRADER</span>
                                <span class="badge badge-danger">CLEAR GRADING CRITERIA</span>
                            </div>
                        </div>

                    </div>
                    <div class="card-content">
                        <p class="card-text">
                            Graduate-level introduction to the design and implementation of domain-specific languages
                            (DSLs). Domain analysis; review and revision of language designs; binding constructs to
                            support abstraction; definition of syntax and semantics of DSLs; prototype implementation of
                            embedded DSL.
                        </p>
                    </div>
                    <div class="content-bottom">
                        <p class="card-text">
                            <small class="text-muted">TTh 10am-11:20am &nbsp&nbsp Seat 15</small>
                            <small class="text-muted right">CRN 59124</small>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="timeC"><img src="../static/image/afternoon.svg" style="height: 26px; width: 26px">Afternoon
<small class="time_text"> 1pm-4pm</small>
</div>
<div class="row">
    <div class="col">
        <div class="card-deck">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://eecs.oregonstate.edu/sites/eecs.oregonstate.edu/files/facultystaff/rosulek-mike-210x210.jpg"
                             class="card-img" alt="Mike Rosulek">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body2">
                            <h6 class="card-title">CS517 | THEORY OF COMPUTATION</h6>
                            <h7 class="card-text"><b>Mike Rosulek</b>&nbsp&nbsp 4.6 / 5</h7>
                            <div>
                                <span class="badge badge-success">SKIP CLASS? YOU WON'T PASS</span>
                                <span class="badge badge-success">AMAZING LECTURES</span>
                                <span class="badge badge-success">CLEAR GRADING CRITERIA</span>
                            </div>
                        </div>

                    </div>
                    <div class="card-content">
                        <p class="card-text">
                            Turing machines, decidability, NP-completeness, complexity classes, randomized
                            computation, relativization, circuit complexity, interactive proof systems, lower
                            bounds, cryptography.
                        </p>
                    </div>
                    <div class="content-bottom">
                        <p class="card-text">
                            <small class="text-muted">MWF 2pm-2:50pm &nbsp&nbsp Seat 33</small>
                            <small class="text-muted right">CRN 53147</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://eecs.oregonstate.edu/sites/eecs.oregonstate.edu/files/facultystaff/abbas-houssam-210x210.jpg"
                             class="card-img" alt="Houssam Abbas">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body2">
                            <h6 class="card-title">CS519 | 10:AUTONOMOUS RACING
                            </h6>
                            <h7 class="card-text"><b>Houssam Abbas</b>&nbsp&nbsp ? / 5</h7>
                            <div>
                                Oops! Doesn't have any featured ratings and tag.
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <p class="card-text">
                            Topics of special and current interest not covered in other courses. May not be offered
                            every year.
                        </p>
                    </div>
                    <div class="content-bottom">
                        <p class="card-text">
                            <small class="text-muted">T 4pm-5:50pm Th 3pm-3:50pm &nbsp&nbsp Seat 7</small>
                            <small class="text-muted right">CRN 58140</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card-deck">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://eecs.oregonstate.edu/sites/eecs.oregonstate.edu/files/facultystaff/fu-xiao-210x210.jpg"
                             class="card-img" alt="Xiao Fu">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body2">
                            <h6 class="card-title">CS539 | MATRX ANSYS SIG PROC&MACH</h6>
                            <h7 class="card-text"><b>Xiao Fu</b>&nbsp&nbsp ? / 5</h7>
                            <div>
                                Oops! Doesn't have any featured ratings and tag.
                            </div>
                        </div>

                    </div>
                    <div class="card-content">
                        <p class="card-text">
                            Advanced topics in artificial intelligence. Typical topics include machine learning for
                            sequential and spatial data, knowledge representation and inference, probabilistic modeling
                            of complex systems, data mining and information extraction.
                        </p>
                    </div>
                    <div class="content-bottom">
                        <p class="card-text">
                            <small class="text-muted">MW 2pm-3:50pm &nbsp&nbsp Seat 15</small>
                            <small class="text-muted right">CRN 59135</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://eecs.oregonstate.edu/sites/eecs.oregonstate.edu/files/facultystaff/termehchy.jpg"
                             class="card-img" alt="Arash Termehchy">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body2">
                            <h6 class="card-title">CS549 | BIG DATA ANALYTICS</h6>
                            <h7 class="card-text"><b>Arash Termehchy</b>&nbsp&nbsp 4.17 / 5</h7>
                            <div>
                                <span class="badge badge-success">LOTS OF HOMEWORK</span>
                                <span class="badge badge-success">PARTICIPATION MATTERS</span>
                                <span class="badge badge-success">SKIP CLASS? YOU WON'T PASS.</span>
                            </div>
                        </div>

                    </div>
                    <div class="card-content">
                        <p class="card-text">
                            Current topics in information-based systems, e.g. information management for CAD,
                            geographical information systems, distributed information systems, data models for complex
                            applications.
                        </p>
                    </div>
                    <div class="content-bottom">
                        <p class="card-text">
                            <small class="text-muted">TTh 4pm-5:20pm &nbsp&nbsp Seat 15</small>
                            <small class="text-muted right">CRN 59121</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card-deck">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://eecs.oregonstate.edu/sites/eecs.oregonstate.edu/files/facultystaff/zhang-eugene-210x210.jpg"
                             class="card-img" alt="Eugene Zhang">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body2">
                            <h6 class="card-title">CS551 | COMPUTER GRAPHICS
                            </h6>
                            <h7 class="card-text"><b>Eugene Zhang</b>&nbsp&nbsp 2.46 / 5</h7>
                            <div>
                                <span class="badge badge-danger">TOUGH GRADER</span>
                                <span class="badge badge-danger">GET READY TO READ</span>
                                <span class="badge badge-danger">PARTICIPATION MATTERS</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <p class="card-text">
                            3-D graphics hardware: Line and polygon scan conversion, modeling transformations, viewing
                            transformations, matrix stacks, hierarchical models, perspective and orthographic
                            projections, visible surface determination, illumination models, shading models, texture
                            mapping, ray tracing.
                        </p>
                    </div>
                    <div class="content-bottom">
                        <p class="card-text">
                            <small class="text-muted">MW 4pm-5:50pm &nbsp&nbsp Seat 30</small>
                            <small class="text-muted right">CRN 59123</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../static/image/unpic.jpg"
                             class="card-img" alt="Daniel Dig">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body2">
                            <h6 class="card-title">CS563 | SOFTWARE MAINTENANCE AND EVOLUTION</h6>
                            <h7 class="card-text"><b>Daniel Dig</b>&nbsp&nbsp ? / 5</h7>
                            <div>
                                Oops! Doesn't have any featured ratings and tag.
                            </div>
                        </div>

                    </div>
                    <div class="card-content">
                        <p class="card-text">
                            Contribute to the cutting-edge of software engineering. Learn about existing techniques and
                            supporting tools, with a particular focus on maintenance and evolution. Identify
                            opportunities to support software maintenance and evolution more effectively, by creating
                            new knowledge and supporting systems through...
                        </p>
                    </div>
                    <div class="content-bottom">
                        <p class="card-text">
                            <small class="text-muted">TTh 2pm-3:50pm &nbsp&nbsp Seat 25</small>
                            <small class="text-muted right">CRN 56644</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card-deck">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://eecs.oregonstate.edu/sites/eecs.oregonstate.edu/files/facultystaff/bailey-mike-210x210.jpg"
                             class="card-img" alt="Mike Bailey">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body2">
                            <h6 class="card-title">CS575 | INTRODUCTION TO PARALLEL PROGRAMMING</h6>
                            <h7 class="card-text"><b>Mike Bailey</b>&nbsp&nbsp 4.87 / 5</h7>
                            <div>
                                <span class="badge badge-success">RESPECTED</span>
                                <span class="badge badge-success">CARING</span>
                                <span class="badge badge-success">AMAZING LECTURES</span>
                            </div>
                        </div>

                    </div>
                    <div class="card-content">
                        <p class="card-text">
                            Theoretical and practical survey of parallel programming, including a discussion of parallel
                            architecture, parallel programming paradigms, and parallel algorithms. Programming one or
                            more parallel computers in a higher-level parallel language.
                        </p>
                    </div>
                    <div class="content-bottom">
                        <p class="card-text">
                            <small class="text-muted">MWF 1pm-1:50pm &nbsp&nbsp Seat 50</small>
                            <small class="text-muted right">CRN 54261</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="timeC"><img src="../static/image/clock.svg">Custom time</div>
<div class="row">
    <div class="col">
        <div class="card-deck">

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://eecs.oregonstate.edu/sites/eecs.oregonstate.edu/files/facultystaff/huang-liang-210x210.jpg"
                             class="card-img" alt="Liang Huang">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body2">
                            <h6 class="card-title">CS519 | APPLIED MACHINE LEARNING
                                <span class="badge badge-info" style="float: right">Online</span>
                            </h6>
                            <h7 class="card-text"><b>Liang Huang</b>&nbsp&nbsp 4.6 / 5</h7>
                            <div>
                                <span class="badge badge-success">GIVES GOOD FEEDBACK</span>
                                <span class="badge badge-success">RESPECTED</span>
                                <span class="badge badge-success">AMAZING LECTURES</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <p class="card-text">
                            Topics of special and current interest not covered in other courses. May not be offered
                            every year.
                        </p>
                    </div>
                    <div class="content-bottom">
                        <p class="card-text">
                            <small class="text-muted">Seat 35</small>
                            <small class="text-muted right">CRN 59745</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<p>-->
<!--    {{ my_text }}, {{ my_number }}-->
<!--</p>-->

<!--<ul>-->
<!--    {% for my_sub_item in my_list %}-->
<!--    {% if my_sub_item == 312 %}-->
<!--    &lt;!&ndash; build-in template tag filter &ndash;&gt;-->
<!--    <li>{{ forloop.counter}} - {{ my_sub_item|add:22 }}</li>-->
<!--    {% endif %}-->

<!--    {% endfor %}-->
<!--</ul>-->


{% endblock %}














