{% extends 'base.html' %}


{% block content %}
<div class="select-level">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="#">Graduate</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../plan">My Plan</a>
        </li>
    </ul>
</div>

<div class="timeC"><img src="../static/image/clock.svg">8:00</div>

<div class="row">
    <div class="col">
        <div class="card-deck">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://eecs.oregonstate.edu/sites/eecs.oregonstate.edu/files/facultystaff/rosulek-mike-210x210.jpg"
                             class="card-img" alt="Mike Rosulek">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body2">
                            <h6 class="card-title">CS517 | THEORY OF COMPUTATION</h6>
                            <h7 class="card-text"><b>Mike Rosulek</b>&nbsp&nbsp 4.6 / 5</h7>
                            <div>
                                <span class="badge badge-success">SKIP CLASS? YOU WON'T PASS</span>
                                <span class="badge badge-success">AMAZING LECTURES</span>
                                <span class="badge badge-success">CLEAR GRADING CRITERIA</span>
                            </div>
                        </div>

                    </div>
                    <div class="card-content">
                        <p class="card-text">
                            Turing machines, decidability, NP-completeness, complexity classes, randomized
                            computation, relativization, circuit complexity, interactive proof systems, lower
                            bounds, cryptography.
                        </p>
                    </div>
                    <div class="content-bottom">
                        <p class="card-text">
                            <small class="text-muted">Credit 4 &nbsp&nbsp Seat 0/33</small>
                            <small class="text-muted right">CRN 53147</small>
                        </p>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://eecs.oregonstate.edu/sites/eecs.oregonstate.edu/files/facultystaff/huang-liang-210x210.jpg"
                             class="card-img" alt="Liang Huang">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body2">
                            <h6 class="card-title">CS519 | APPLIED MACHINE LEARNING
                                <span class="badge badge-info" style="float: right">Online</span>
                            </h6>
                            <h7 class="card-text"><b>Liang Huang</b>&nbsp&nbsp 4.6 / 5</h7>
                            <div>
                                <span class="badge badge-success">GIVES GOOD FEEDBACK</span>
                                <span class="badge badge-success">RESPECTED</span>
                                <span class="badge badge-success">AMAZING LECTURES</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <p class="card-text">
                            Topics of special and current interest not covered in other courses. May not be offered
                            every year.
                        </p>
                    </div>
                    <div class="content-bottom">
                        <p class="card-text">
                            <small class="text-muted">Credit 4 &nbsp&nbsp Seat 0/45</small>
                            <small class="text-muted right">CRN 59745</small>
                        </p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card-deck">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://eecs.oregonstate.edu/sites/eecs.oregonstate.edu/files/facultystaff/rosulek-mike-210x210.jpg"
                             class="card-img" alt="Mike Rosulek">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body2">
                            <h6 class="card-title">CS517 | THEORY OF COMPUTATION</h6>
                            <h7 class="card-text"><b>Mike Rosulek</b>&nbsp&nbsp 4.6 / 5</h7>
                            <div>
                                <span class="badge badge-success">SKIP CLASS? YOU WON'T PASS</span>
                                <span class="badge badge-success">AMAZING LECTURES</span>
                                <span class="badge badge-success">CLEAR GRADING CRITERIA</span>
                            </div>
                        </div>

                    </div>
                    <div class="card-content">
                        <p class="card-text">
                            Turing machines, decidability, NP-completeness, complexity classes, randomized
                            computation, relativization, circuit complexity, interactive proof systems, lower
                            bounds, cryptography.
                        </p>
                    </div>
                    <div class="content-bottom">
                        <p class="card-text">
                            <small class="text-muted">Credit 4 &nbsp&nbsp Seat 0/33</small>
                            <small class="text-muted right">CRN 53147</small>
                        </p>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://eecs.oregonstate.edu/sites/eecs.oregonstate.edu/files/facultystaff/huang-liang-210x210.jpg"
                             class="card-img" alt="Liang Huang">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body2">
                            <h6 class="card-title">CS519 | APPLIED MACHINE LEARNING
                                <span class="badge badge-info" style="float: right">Online</span>
                            </h6>
                            <h7 class="card-text"><b>Liang Huang</b>&nbsp&nbsp 4.6 / 5</h7>
                            <div>
                                <span class="badge badge-success">GIVES GOOD FEEDBACK</span>
                                <span class="badge badge-success">RESPECTED</span>
                                <span class="badge badge-success">AMAZING LECTURES</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <p class="card-text">
                            Topics of special and current interest not covered in other courses. May not be offered
                            every year.
                        </p>
                    </div>
                    <div class="content-bottom">
                        <p class="card-text">
                            <small class="text-muted">Credit 4 &nbsp&nbsp Seat 0/45</small>
                            <small class="text-muted right">CRN 59745</small>
                        </p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card-deck">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://eecs.oregonstate.edu/sites/eecs.oregonstate.edu/files/facultystaff/rosulek-mike-210x210.jpg"
                             class="card-img" alt="Mike Rosulek">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body2">
                            <h6 class="card-title">CS517 | THEORY OF COMPUTATION</h6>
                            <h7 class="card-text"><b>Mike Rosulek</b>&nbsp&nbsp 4.6 / 5</h7>
                            <div>
                                <span class="badge badge-success">SKIP CLASS? YOU WON'T PASS</span>
                                <span class="badge badge-success">AMAZING LECTURES</span>
                                <span class="badge badge-success">CLEAR GRADING CRITERIA</span>
                            </div>
                        </div>

                    </div>
                    <div class="card-content">
                        <p class="card-text">
                            Turing machines, decidability, NP-completeness, complexity classes, randomized
                            computation, relativization, circuit complexity, interactive proof systems, lower
                            bounds, cryptography.
                        </p>
                    </div>
                    <div class="content-bottom">
                        <p class="card-text">
                            <small class="text-muted">Credit 4 &nbsp&nbsp Seat 0/33</small>
                            <small class="text-muted right">CRN 53147</small>
                        </p>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://eecs.oregonstate.edu/sites/eecs.oregonstate.edu/files/facultystaff/huang-liang-210x210.jpg"
                             class="card-img" alt="Liang Huang">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body2">
                            <h6 class="card-title">CS519 | APPLIED MACHINE LEARNING
                                <span class="badge badge-info" style="float: right">Online</span>
                            </h6>
                            <h7 class="card-text"><b>Liang Huang</b>&nbsp&nbsp 4.6 / 5</h7>
                            <div>
                                <span class="badge badge-success">GIVES GOOD FEEDBACK</span>
                                <span class="badge badge-success">RESPECTED</span>
                                <span class="badge badge-success">AMAZING LECTURES</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <p class="card-text">
                            Topics of special and current interest not covered in other courses. May not be offered
                            every year.
                        </p>
                    </div>
                    <div class="content-bottom">
                        <p class="card-text">
                            <small class="text-muted">Credit 4 &nbsp&nbsp Seat 0/45</small>
                            <small class="text-muted right">CRN 59745</small>
                        </p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>



<!--<p>-->
<!--    {{ my_text }}, {{ my_number }}-->
<!--</p>-->

<!--<ul>-->
<!--    {% for my_sub_item in my_list %}-->
<!--    {% if my_sub_item == 312 %}-->
<!--    &lt;!&ndash; build-in template tag filter &ndash;&gt;-->
<!--    <li>{{ forloop.counter}} - {{ my_sub_item|add:22 }}</li>-->
<!--    {% endif %}-->

<!--    {% endfor %}-->
<!--</ul>-->


{% endblock %}














