{% extends 'base.html' %}

{% block content %}

<h5>Current user: {{request.user}}</h5>

<!--build in filter-->
<p>Name: {{ name | lower }}</p>
<p>Name: {{ name | upper }}</p>
<p>Name: {{ name | title }}</p>
<p>Age: {{ age }}</p>
<p>Skill: {{ skill }}</p>
<p>Skill:
    {% for item in skill %}
        {% if item == 'C++' %}
            <li>{{ item }}</li>
            <li>共计：{{ forloop.counter }}
            总能力: {{ forloop.counter | add:10 }}</li>

        {% else %}
            <li>{{ item }}</li>
        {% endif %}
    {% endfor %}
</p>
<p>Fact: {{ fact }}</p>


{% endblock content %}