{% extends 'base.html' %}


{% block content %}
<script src="../static/js/main.js"></script>

<div class="select-level">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="../course">Graduate</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">My Plan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../mepolicy">Policy</a>
        </li>

    </ul>
</div>

<div class="timeC"><img src="../static/image/spring.png">Spring term</div>

<div class="card">
    <div class="card-body">
        <h6><b>Theoretical Computer Science</b></h6>

        <div class="form-check form-check-inline">
<!--            <div class="myplan-left">-->
                <input class="form-check-input" type="checkbox" name="multiple" value="spring" onclick="check()">
                <label class="form-check-label">
                    CS517 | THEORY OF COMPUTATION
                </label>
<!--            </div>-->
        </div>
        <div class="form-check form-check-inline">
<!--            <div class="myplan-right">-->
                <input class="form-check-input" type="checkbox" name="multiple" value="spring" onclick="check()">
                <label class="form-check-label">
                    CS523 | ADVANCED ALGORITHMS
                </label>
                <small class="text-muted">(Recommend: CS515)</small>
<!--            </div>-->
        </div>


        <h6 class="plan-course-name"><b>Artificial Intelligence</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="spring" onclick="check()">
            <label class="form-check-label">
                CS533 | INTELLIGENT AGENTS AND DECISION MAKING
            </label>
            <small class="text-muted">(Recommend: CS531)</small>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="spring" onclick="check()">
            <label class="form-check-label">
                CS537 | COMPUTER VISION I
            </label>
        </div>


        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="spring" onclick="check()">
            <label class="form-check-label">
                CS539 | NONLINEAR OPTIMIZATION
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="spring" onclick="check()">
            <label class="form-check-label">
                CS539 | MATRX ANSYS SIG PROC&MACH
            </label>
        </div>


        <h6 class="plan-course-name"><b>Computer Systems</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="spring" onclick="check()">
            <label class="form-check-label">
                CS570 | HIGH PERFORMANCE COMPUTER ARCHITECTURE
            </label>
            <small class="text-muted">(Recommend: ECE472 or ECE572)</small>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="spring" onclick="check()">
            <label class="form-check-label">
                CS572 | COMPUTER ARCHITECTURE
            </label>
            <small class="text-muted">(Recommend: ECE375)</small>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="spring" onclick="check()">
            <label class="form-check-label">
                CS575 | INTRODUCTION TO PARALLEL PROGRAMMING
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="spring" onclick="check()">
            <label class="form-check-label">
                CS544 | OPERATING SYSTEMS II
            </label>
            <small class="text-muted">(Recommend: CS311 or CS344) and (CS271 or ECE375)</small>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="spring" onclick="check()">
            <label class="form-check-label">
                CS544 | BIG DATA ANALYTICS
            </label>
            <small class="text-muted">(Recommend: 540)</small>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="spring" onclick="check()">
            <label class="form-check-label">
                ECE574 | VLSI SYSTEM DESIGN
            </label>
            <small class="text-muted">(Recommend: ECE322 or ECE375)</small>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="spring" onclick="check()">
            <label class="form-check-label">
                ECE577 | MULTIMEDIA SYSTEMS
            </label>
            <small class="text-muted">(Recommend: ECE375)</small>
        </div>

        <h6 class="plan-course-name"><b>Programming Languages</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="spring" onclick="check()">
            <label class="form-check-label">
                CS583 | ADVANCED FUNCTIONAL PROGRAMMING
            </label>
            <small class="text-danger">(Prerequisite: CS581)</small>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="spring" onclick="check()">
            <label class="form-check-label">
                CS585 | DOMAIN-SPECIFIC LANGUAGES
            </label>
            <small class="text-danger">(Prerequisite: CS581)</small>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="spring" onclick="check()">
            <label class="form-check-label">
                CS563 | SOFTWARE MAINTENANCE AND EVOLUTION
            </label>
            <small class="text-danger">(Prerequisite: CS561)</small>
        </div>

        <h6 class="plan-course-name"><b>Human Computer Interaction</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="spring" onclick="check()">
            <label class="form-check-label">
                CS565 | HUMAN-COMPUTER INTERACTION
            </label>
        </div>

        <h6 class="plan-course-name"><b>Computer Vision and Graphics</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="spring" onclick="check()">
            <label class="form-check-label">
                CS551 | COMPUTER GRAPHICS
            </label>
            <small class="text-muted">(Recommend: CS450 or CS550)</small>
        </div>


    </div>
</div>


<div class="timeC"><img src="../static/image/summer.png">Summer term</div>
<div class="card">
    <div class="card-body">
        <h6><b>We have not graduate class for computer science in the summer vocation</b></h6>

    </div>
</div>


<div class="timeC"><img src="../static/image/fall.png">Fall term</div>

<div class="card">
    <div class="card-body">
        <h6><b>Theoretical Computer Science</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="fall" onclick="check()">
            <label class="form-check-label">
                CS515 | ALGORITHMS AND DATA STRUCTURES
            </label>
        </div>

        <h6 class="plan-course-name"><b>Artificial Intelligence</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="fall" onclick="check()">
            <label class="form-check-label">
                CS534 | MACHINE LEARNING
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="fall" onclick="check()">
            <label class="form-check-label">
                CS539 | EMBODIED AI
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="fall" onclick="check()">
            <label class="form-check-label">
                CS539 | EMBODIED LG-SCALE CONVEX/NONCON OPT
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="fall" onclick="check()">
            <label class="form-check-label">
                CS539 | NATURAL LANG PROCESSING
            </label>
        </div>

        <h6 class="plan-course-name"><b>Computer Systems</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="fall" onclick="check()">
            <label class="form-check-label">
                CS572 | COMPUTER ARCHITECTURE
            </label>
            <small class="text-muted">(Recommend: ECE375)</small>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="fall" onclick="check()">
            <label class="form-check-label">
                CS579 | CYBER ATTACKS & DEFENSE
            </label>
            <small class="text-muted">(Recommend: CS575 or CS572 or ECE572)</small>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="fall" onclick="check()">
            <label class="form-check-label">
                CS579 | CYBER-PHYSICAL SYSTEMS
            </label>
            <small class="text-muted">(Recommend: CS575 or CS572 or ECE572)</small>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="fall" onclick="check()">
            <label class="form-check-label">
                CS579 | GPU ARCHITECTURE
            </label>
            <small class="text-muted">(Recommend: CS575 or CS572 or ECE572)</small>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="fall" onclick="check()">
            <label class="form-check-label">
                CS579 | SYSTEMS SECURITY
            </label>
            <small class="text-muted">(Recommend: CS575 or CS572 or ECE572)</small>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="fall" onclick="check()">
            <label class="form-check-label">
                CS544 | OPERATING SYSTEMS II
            </label>
            <small class="text-muted">(Recommend: (CS311 or CS344) and (CS271 or ECE375))</small>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="fall" onclick="check()">
            <label class="form-check-label">
                ECE573 | MICROCONTROLLER SYSTEM DESIGN
            </label>
            <small class="text-muted">(Recommend: ECE 322 and ECE 375 and CS 261)</small>
        </div>

        <h6 class="plan-course-name"><b>Programming Languages</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="fall" onclick="check()">
            <label class="form-check-label">
                CS581 | PROGRAMMING LANGUAGES I
            </label>
        </div>

        <h6 class="plan-course-name"><b>Software Engineering</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="fall" onclick="check()">
            <label class="form-check-label">
                CS561 | SOFTWARE ENGINEERING METHODS
            </label>
            <small class="text-muted">(Recommend: CS362)</small>
        </div>

        <h6 class="plan-course-name"><b>Human Computer Interaction</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="fall" onclick="check()">
            <label class="form-check-label">
                CS567 | LABORATORY STUDIES IN SE AND HCI
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="fall" onclick="check()">
            <label class="form-check-label">
                CS568 | INCLUSIVE DESIGN (HCL)
            </label>
            <small class="text-muted">(Recommend: CS352 [C] or CS565 [C])</small>
        </div>

        <h6 class="plan-course-name"><b>Computer Vision and Graphics</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="fall" onclick="check()">
            <label class="form-check-label">
                CS550 | INTRODUCTION TO COMPUTER GRAPHICS
            </label>
            <small class="text-muted">(Recommend: CS261 and (MTH306 or MTH306H or MTH341))</small>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="fall" onclick="check()">
            <label class="form-check-label">
                CS553 | SCIENTIFIC VISUALIZATION
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="fall" onclick="check()">
            <label class="form-check-label">
                CS559 | DIGITAL IMAGE PROCESSING
            </label>
        </div>


    </div>
</div>


<div class="timeC"><img src="../static/image/winter.png">Winter term</div>

<div class="card">
    <div class="card-body">
        <h6><b>Theoretical Computer Science</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="winter" onclick="check()"/>
            <label class="form-check-label">
                CS520 | GRAPH THEORY WITH APPLICATIONS TO COMPUTER SCIENCE
            </label>
            <small class="text-muted">(Recommend: CS325 and MTH232)</small>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="winter" onclick="check()"/>
            <label class="form-check-label">
                CS527 | ERROR-CORRECTING CODES
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="winter" onclick="check()"/>
            <label class="form-check-label">
                CS529 | CRYPTOGRAPHY
            </label>
            <small class="text-muted">(Recommend: CS515)</small>
        </div>

        <h6 class="plan-course-name"><b>Artificial Intelligence</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="winter" onclick="check()"/>
            <label class="form-check-label">
                CS517 | THEORY OF COMPUTATION
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="winter" onclick="check()"/>
            <label class="form-check-label">
                CS535 | DEEP LEARNING
            </label>
            <small class="text-danger">(Prerequisites: CS534 or ROB537)</small>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="winter" onclick="check()"/>
            <label class="form-check-label">
                CS536 | PROBABILISTIC GRAPHICAL MODELS
            </label>
        </div>

        <h6 class="plan-course-name"><b>Computer Systems</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="winter" onclick="check()"/>
            <label class="form-check-label">
                CS576 | ADVANCED COMPUTER NETWORKING
            </label>
            <small class="text-muted">(Recommend: (CS372 or ECE372) and (ECE353 or ST314 or ST314H))</small>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="winter" onclick="check()"/>
            <label class="form-check-label">
                CS579 | USABLE SECURITY
            </label>
            <small class="text-muted">(Recommend: CS575 or CS572 or ECE572)</small>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="winter" onclick="check()"/>
            <label class="form-check-label">
                CS540 | DATABASE MANAGEMENT SYSTEMS
            </label>
            <small class="text-muted">(Recommend: CS261)</small>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="winter" onclick="check()"/>
            <label class="form-check-label">
                CS546 | NETWORKS IN COMPUTATIONAL BIOLOGY
            </label>
            <small class="text-muted">(Recommend: Completion or concurrent enrollment in CS325)</small>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="winter" onclick="check()"/>
            <label class="form-check-label">
                ECE571 | ENERGY-EFFICIENT VLSI DESIGN
            </label>
            <small class="text-muted">(Recommend: ECE271 and ECE322 and completion or concurrent enrollment in
                    ECE323 (all with a minimum grade of C))</small>
        </div>

        <h6 class="plan-course-name"><b>Programming Languages</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="winter" onclick="check()"/>
            <label class="form-check-label">
                CS582 | PROGRAMMING LANGUAGES II
            </label>
            <small class="text-danger">(Prerequisite: CS581)</small>
        </div>

        <h6 class="plan-course-name"><b>Software Engineering</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="winter" onclick="check()"/>
            <label class="form-check-label">
                CS562 | SOFTWARE PROJECT MANAGEMENT
            </label>
            <small class="text-muted">(Recommend: CS362)</small>
        </div>

        <h6 class="plan-course-name"><b>Computer Vision and Graphics</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="winter" onclick="check()"/>
            <label class="form-check-label">
                CS552 | COMPUTER ANIMATION
            </label>
            <small class="text-muted">(Recommend: CS551)</small>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="winter" onclick="check()"/>
            <label class="form-check-label">
                CS557 | COMPUTER GRAPHICS SHADERS
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="multiple" value="winter" onclick="check()"/>
            <label class="form-check-label">
                CS559 | NUMERICAL MODELING
            </label>

        </div>

    </div>
</div>
<br>


<!-- Large modal -->
<!--.bd-example-modal-lg-->
<div class="fixed-bottom">
<button type="button" class="btn btn-primary large_custom" data-toggle="modal" data-target="#myModal">Confirm</button>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" id="myModal">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">My plan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead class="thead-light">
                    <tr id="table_head">
                        <th scope="col">Spring</th>
                        <th scope="col">Fall</th>
                        <th scope="col">Winter</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="course1">
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr id="course2">
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr id="course3">
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr id="course4">
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>

                </table>

                <div class="total_credit">
                    <h6 id = "credit">Total credit: 36</h6>
                </div>

            </div>
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                <button type="button" class="btn btn-primary">Save changes</button>-->
<!--            </div>-->
        </div>
    </div>
</div>




{% endblock %}














