{% extends 'base.html' %}



{% block content %}
<script src="../static/js/main.js"></script>

<div class="select-level">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="../course">Graduate</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">My Plan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../mepolicy">Policy</a>
        </li>

    </ul>
</div>

<!--<form action="../static/js/main.js" method="POST">-->
<div class="timeC"><img src="../static/image/spring.png">Spring term</div>

<div class="card">
    <div class="card-body">
        <h6><b>Theoretical Computer Science</b></h6>

        <div class="form-check form-check-inline">
            <div class="myplan-left">
                <input class="form-check-input" type="checkbox" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">
                    CS517 | THEORY OF COMPUTATION
                </label>
            </div>

            <div class="myplan-right">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2">
                    CS523 | ADVANCED ALGORITHMS
                    <small class="text-muted">(Recommend: CS515)</small>
                </label>
            </div>
        </div>


        <h6 class="plan-course-name"><b>Artificial Intelligence</b></h6>
        <div class="form-check form-check-inline">
            <div class="myplan-left">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2">
                    CS533 | INTELLIGENT AGENTS AND DECISION MAKING
                    <small class="text-muted">(Recommend: CS531)</small>
                </label>
            </div>

            <div class="myplan-right">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2">
                    CS537 | COMPUTER VISION I
                </label>
            </div>
        </div>


        <div class="form-check form-check-inline">
            <div class="myplan-left">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS539 | NONLINEAR OPTIMIZATION
            </label>
            </div>

            <div class="myplan-right">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS539 | MATRX ANSYS SIG PROC&MACH
            </label>
            </div>

        </div>


        <h6 class="plan-course-name"><b>Computer Systems</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS570 | HIGH PERFORMANCE COMPUTER ARCHITECTURE
                <small class="text-muted">(Recommend: ECE472 or ECE572)</small>
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS572 | COMPUTER ARCHITECTURE
                <small class="text-muted">(Recommend: ECE375)</small>
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS575 | INTRODUCTION TO PARALLEL PROGRAMMING
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS544 | OPERATING SYSTEMS II
                <small class="text-muted">(Recommend: CS311 or CS344) and (CS271 or ECE375)</small>
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS544 | BIG DATA ANALYTICS
                <small class="text-muted">(Recommend: 540)</small>
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                ECE574 | VLSI SYSTEM DESIGN
                <small class="text-muted">(Recommend: ECE322 or ECE375)</small>
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                ECE577 | MULTIMEDIA SYSTEMS
                <small class="text-muted">(Recommend: ECE375)</small>
            </label>
        </div>

        <h6 class="plan-course-name"><b>Programming Languages</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS583 | ADVANCED FUNCTIONAL PROGRAMMING
                <small class="text-danger">(Prerequisite: CS581)</small>
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS585 | DOMAIN-SPECIFIC LANGUAGES
                <small class="text-danger">(Prerequisite: CS581)</small>
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS563 | SOFTWARE MAINTENANCE AND EVOLUTION
                <small class="text-danger">(Prerequisite: CS561)</small>
            </label>
        </div>

        <h6 class="plan-course-name"><b>Human Computer Interaction</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS565 | HUMAN-COMPUTER INTERACTION
            </label>
        </div>

        <h6 class="plan-course-name"><b>Computer Vision and Graphics</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS551 | COMPUTER GRAPHICS
                <small class="text-muted">(Recommend: CS450 or CS550)</small>
            </label>
        </div>


    </div>
</div>


<div class="timeC"><img src="../static/image/summer.png">Summer term</div>
<div class="card">
    <div class="card-body">
        <h6><b>We have not graduate class for computer science in the summer vocation</b></h6>

    </div>
</div>


<div class="timeC"><img src="../static/image/fall.png">Fall term</div>

<div class="card">
    <div class="card-body">
        <h6><b>Theoretical Computer Science</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">
                CS515 | ALGORITHMS AND DATA STRUCTURES
            </label>
        </div>

        <h6 class="plan-course-name"><b>Artificial Intelligence</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS534 | MACHINE LEARNING
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS539 | EMBODIED AI
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS539 | EMBODIED LG-SCALE CONVEX/NONCON OPT
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS539 | NATURAL LANG PROCESSING
            </label>
        </div>

        <h6 class="plan-course-name"><b>Computer Systems</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS572 | COMPUTER ARCHITECTURE
                <small class="text-muted">(Recommend: ECE375)</small>
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS579 | CYBER ATTACKS & DEFENSE
                <small class="text-muted">(Recommend: CS575 or CS572 or ECE572)</small>
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS579 | CYBER-PHYSICAL SYSTEMS
                <small class="text-muted">(Recommend: CS575 or CS572 or ECE572)</small>
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS579 | GPU ARCHITECTURE
                <small class="text-muted">(Recommend: CS575 or CS572 or ECE572)</small>
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS579 | SYSTEMS SECURITY
                <small class="text-muted">(Recommend: CS575 or CS572 or ECE572)</small>
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS544 | OPERATING SYSTEMS II
                <small class="text-muted">(Recommend: (CS311 or CS344) and (CS271 or ECE375))</small>
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                ECE573 | MICROCONTROLLER SYSTEM DESIGN
                <small class="text-muted">(Recommend: ECE 322 and ECE 375 and CS 261)</small>
            </label>
        </div>

        <h6 class="plan-course-name"><b>Programming Languages</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS581 | PROGRAMMING LANGUAGES I
            </label>
        </div>

        <h6 class="plan-course-name"><b>Software Engineering</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS561 | SOFTWARE ENGINEERING METHODS
                <small class="text-muted">(Recommend: CS362)</small>
            </label>
        </div>

        <h6 class="plan-course-name"><b>Human Computer Interaction</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS567 | LABORATORY STUDIES IN SE AND HCI
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS568 | INCLUSIVE DESIGN (HCL)
                <small class="text-muted">(Recommend: CS352 [C] or CS565 [C])</small>
            </label>
        </div>

        <h6 class="plan-course-name"><b>Computer Vision and Graphics</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS550 | INTRODUCTION TO COMPUTER GRAPHICS
                <small class="text-muted">(Recommend: CS261 and (MTH306 or MTH306H or MTH341))</small>
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS553 | SCIENTIFIC VISUALIZATION
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS559 | DIGITAL IMAGE PROCESSING
            </label>
        </div>


    </div>
</div>


<div class="timeC"><img src="../static/image/winter.png">Winter term</div>

<div class="card">
    <div class="card-body">
        <h6><b>Theoretical Computer Science</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">
                CS520 | GRAPH THEORY WITH APPLICATIONS TO COMPUTER SCIENCE
                <small class="text-muted">(Recommend: CS325 and MTH232)</small>
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS527 | ERROR-CORRECTING CODES
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS529 | CRYPTOGRAPHY
                <small class="text-muted">(Recommend: CS515)</small>
            </label>
        </div>

        <h6 class="plan-course-name"><b>Artificial Intelligence</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">
                CS517 | THEORY OF COMPUTATION
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">
                CS535 | DEEP LEARNING
                <small class="text-danger">(Prerequisites: CS534 or ROB537)</small>
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">
                CS536 | PROBABILISTIC GRAPHICAL MODELS
            </label>
        </div>

        <h6 class="plan-course-name"><b>Computer Systems</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS576 | ADVANCED COMPUTER NETWORKING
                <small class="text-muted">(Recommend: (CS372 or ECE372) and (ECE353 or ST314 or ST314H))</small>
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS579 | USABLE SECURITY
                <small class="text-muted">(Recommend: CS575 or CS572 or ECE572)</small>
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS540 | DATABASE MANAGEMENT SYSTEMS
                <small class="text-muted">(Recommend: CS261)</small>
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS546 | NETWORKS IN COMPUTATIONAL BIOLOGY
                <small class="text-muted">(Recommend: Completion or concurrent enrollment in CS325)</small>
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                ECE571 | ENERGY-EFFICIENT VLSI DESIGN
                <small class="text-muted">(Recommend: ECE271 and ECE322 and completion or concurrent enrollment in
                    ECE323 (all with a minimum grade of C))</small>
            </label>
        </div>

        <h6 class="plan-course-name"><b>Programming Languages</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS582 | PROGRAMMING LANGUAGES II
                <small class="text-danger">(Prerequisite: CS581)</small>
            </label>
        </div>

        <h6 class="plan-course-name"><b>Software Engineering</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS562 | SOFTWARE PROJECT MANAGEMENT
                <small class="text-muted">(Recommend: CS362)</small>
            </label>
        </div>

        <h6 class="plan-course-name"><b>Computer Vision and Graphics</b></h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS552 | COMPUTER ANIMATION
                <small class="text-muted">(Recommend: CS551)</small>
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS557 | COMPUTER GRAPHICS SHADERS
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">
                CS559 | NUMERICAL MODELING
            </label>
        </div>

    </div>
</div>
<br>
    <button id="confirm" type="button" class="btn btn-primary btn-lg">Confirm</button>
<p id="credit">Credit: 0</p>

<h2>This is a heading</h2>

<p>This is a paragraph.</p>
<p>This is another paragraph.</p>

<button>Click me</button>
<!--</form>-->




{% endblock %}














