{% extends 'base.html' %}

{% block content %}
New one
<p>
	{% if object.description != None and object.description != '' %}
		{{ object.description }}
	{% else %}
		Description Coming soon....
	{% endif %}
</p>
<p>{{ object.title }}</p>
<p>{{ object.description }}</p>
<p>{{ object.price }}</p>
<p>{{ object.summary }}</p>
<p>{{ object.featured }}</p>

<!--<p>-->
<!--	{% if description != None and description != '' %}-->
<!--		{{ description }}-->
<!--	{% else %}-->
<!--		Description Coming soon....-->
<!--	{% endif %}-->
<!--</p>-->
<!--<p>{{ title }}</p>-->
<!--<p>{{ description }}</p>-->
<!--<p>{{ price }}</p>-->
<!--<p>{{ summary }}</p>-->
<!--<p>{{ featured }}</p>-->
{% endblock %}